

# Minh Nhat Vo

## Assignment 02

Student ID: 4717

### Part A

In [39]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn import tree

In [48]:
data_table={
    'Humidity (%)': ['72', '44', '66', '22', '7', '60', '8', '20', '79', '12','0','1.11', '4', '9.23','76.23', '34.22', '22.22', '19.13', '55.43', '46.56'],
    'Temp (C)' : ['-1', '26.59', '3.5', '30', '35', '22', '34', '31', '16','32.33', '22', '40', '33.34', '40','12','30', '25.55', '-2.3', '2', '29.44'],
    'Precipitation rate (mm/h)' : ['1', '1.9', '20', '10', '8', '30', '12', '29', '1.2','1.22', '8.25', '4.01', '3.03', '55','1.11','0', '2.22', '7.11', '15.55', '34.55'],
    'Wind (Km/h)': ['15', '10', '2', '5', '11', '20', '30', '3', '38', '3.23', '3.33', '2', '10.22', '3.23', '1.98', '20', '5.55', '0', '7.99', '3.43' ],
    'PlayTennis': ['0', '1', '0', '1', '1', '0', '0', '1', '0', '1', '1', '0', '1' , '0', '0', '0', '1','0', '0', '1']
}
tennis_Weather_Conditions_Tabel = pd.DataFrame(data_table, columns=data_table.keys())
tennis_Weather_Conditions_Tabel

   Humidity (%) Temp (C) Precipitation rate (mm/h) Wind (Km/h) PlayTennis
0            72       -1                         1          15          0
1            44    26.59                       1.9          10          1
2            66      3.5                        20           2          0
3            22       30                        10           5          1
4             7       35                         8          11          1
5            60       22                        30          20          0
6             8       34                        12          30          0
7            20       31                        29           3          1
8            79       16                       1.2          38          0
9            12    32.33                      1.22        3.23          1
10            0       22                      8.25        3.33          1
11         1.11       40                      4.01           2          0
12            4    33.34                      3.03       10.22          1
13         9.23       40                        55        3.23          0
14        76.23       12                      1.11        1.98          0
15        34.22       30                         0          20          0
16        22.22    25.55                      2.22        5.55          1
17        19.13     -2.3                      7.11           0          0
18        55.43        2                     15.55        7.99          0
19        46.56    29.44                     34.55        3.43          1

In [50]:
df = np.array(tennis_Weather_Conditions_Tabel)
df

array([['72', '-1', '1', '15', '0'],
       ['44', '26.59', '1.9', '10', '1'],
       ['66', '3.5', '20', '2', '0'],
       ['22', '30', '10', '5', '1'],
       ['7', '35', '8', '11', '1'],
       ['60', '22', '30', '20', '0'],
       ['8', '34', '12', '30', '0'],
       ['20', '31', '29', '3', '1'],
       ['79', '16', '1.2', '38', '0'],
       ['12', '32.33', '1.22', '3.23', '1'],
       ['0', '22', '8.25', '3.33', '1'],
       ['1.11', '40', '4.01', '2', '0'],
       ['4', '33.34', '3.03', '10.22', '1'],
       ['9.23', '40', '55', '3.23', '0'],
       ['76.23', '12', '1.11', '1.98', '0'],
       ['34.22', '30', '0', '20', '0'],
       ['22.22', '25.55', '2.22', '5.55', '1'],
       ['19.13', '-2.3', '7.11', '0', '0'],
       ['55.43', '2', '15.55', '7.99', '0'],
       ['46.56', '29.44', '34.55', '3.43', '1']], dtype=object)

In [51]:
data = df[:,:-1]
target = df[:,-1]

In [52]:
data_Train, data_Test, target_Train, target_Test = train_test_split(data, target, test_size=0.2)

In [64]:
clf = tree.DecisionTreeClassifier()
clf.fit(data_Train, target_Train)
predictions= clf.predict(data_Test)
print(predictions)
print(target_Test)

['0' '1' '1' '1']
['0' '0' '0' '0']

# Part B

In [74]:
covid_data = pd.read_csv("/content/Cleaned-Data2.csv")
df = np.array(covid_data)

In [75]:
X = df[:,:-1]
Y = df[:,-1]

In [76]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [77]:
covid_clf = tree.DecisionTreeClassifier()
covid_clf.fit(X,Y)
predictions = covid_clf.predict(X_test)

In [78]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, predictions))

0.750736531986532